# Kaggle NYC Taxi

## Imports

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline

In [2]:
df_train = pd.read_csv('./train.csv', index_col='id')
df_test = pd.read_csv('./test.csv', index_col='id')

## Exploratory Analysis

In [3]:
df_train.head()

,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration
id,,,,,,,,,,
id2875421,2,2016-03-14 17:24:55,2016-03-14 17:32:30,1,-73.982155,40.767937,-73.964630,40.765602,N,455
id2377394,1,2016-06-12 00:43:35,2016-06-12 00:54:38,1,-73.980415,40.738564,-73.999481,40.731152,N,663
id3858529,2,2016-01-19 11:35:24,2016-01-19 12:10:48,1,-73.979027,40.763939,-74.005333,40.710087,N,2124
id3504673,2,2016-04-06 19:32:31,2016-04-06 19:39:40,1,-74.010040,40.719971,-74.012268,40.706718,N,429
id2181028,2,2016-03-26 13:30:55,2016-03-26 13:38:10,1,-73.973053,40.793209,-73.972923,40.782520,N,435

In [4]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1458644 entries, id2875421 to id1209952
Data columns (total 10 columns):
vendor_id             1458644 non-null int64
pickup_datetime       1458644 non-null object
dropoff_datetime      1458644 non-null object
passenger_count       1458644 non-null int64
pickup_longitude      1458644 non-null float64
pickup_latitude       1458644 non-null float64
dropoff_longitude     1458644 non-null float64
dropoff_latitude      1458644 non-null float64
store_and_fwd_flag    1458644 non-null object
trip_duration         1458644 non-null int64
dtypes: float64(4), int64(3), object(3)
memory usage: 122.4+ MB

In [5]:
df_train.describe()

,vendor_id,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,trip_duration
count,1.458644e+06,1.458644e+06,1.458644e+06,1.458644e+06,1.458644e+06,1.458644e+06,1.458644e+06
mean,1.534950e+00,1.664530e+00,-7.397349e+01,4.075092e+01,-7.397342e+01,4.075180e+01,9.594923e+02
std,4.987772e-01,1.314242e+00,7.090186e-02,3.288119e-02,7.064327e-02,3.589056e-02,5.237432e+03
min,1.000000e+00,0.000000e+00,-1.219333e+02,3.435970e+01,-1.219333e+02,3.218114e+01,1.000000e+00
25%,1.000000e+00,1.000000e+00,-7.399187e+01,4.073735e+01,-7.399133e+01,4.073588e+01,3.970000e+02
50%,2.000000e+00,1.000000e+00,-7.398174e+01,4.075410e+01,-7.397975e+01,4.075452e+01,6.620000e+02
75%,2.000000e+00,2.000000e+00,-7.396733e+01,4.076836e+01,-7.396301e+01,4.076981e+01,1.075000e+03
max,2.000000e+00,9.000000e+00,-6.133553e+01,5.188108e+01,-6.133553e+01,4.392103e+01,3.526282e+06

In [6]:
for key in df_train:
    n_keys = len(df_train[key].unique())
    print(f'key: {key}')
    print(f'unique keys number: {n_keys}')
    print(df_train[key].unique())

key: vendor_id
unique keys number: 2
[2 1]
key: pickup_datetime
unique keys number: 1380222
['2016-03-14 17:24:55' '2016-06-12 00:43:35' '2016-01-19 11:35:24' ...
 '2016-01-10 07:35:15' '2016-04-22 06:57:41' '2016-01-05 15:56:26']
key: dropoff_datetime
unique keys number: 1380377
['2016-03-14 17:32:30' '2016-06-12 00:54:38' '2016-01-19 12:10:48' ...
 '2016-04-22 07:10:25' '2016-01-05 16:02:39' '2016-04-05 14:47:43']
key: passenger_count
unique keys number: 10
[1 6 4 2 3 5 0 7 9 8]
key: pickup_longitude
unique keys number: 23047
[-73.98215485 -73.98041534 -73.97902679 ... -73.84746552 -73.89477539
 -73.84131622]
key: pickup_latitude
unique keys number: 45245
[40.76793671 40.73856354 40.7639389  ... 40.69665146 40.83586502
 40.82304382]
key: dropoff_longitude
unique keys number: 33821
[-73.96463013 -73.9994812  -74.00533295 ... -73.85946655 -74.04266357
 -73.76462555]
key: dropoff_latitude
unique keys number: 62519
[40.76560211 40.73115158 40.71008682 ... 40.65151978 40.64244461
 40.62860489]
key: store_and_fwd_flag
unique keys number: 2
['N' 'Y']
key: trip_duration
unique keys number: 7417
[  455   663  2124 ... 11513 72504  6124]

In [7]:
unique, counts = np.unique(df_train.dropoff_datetime, return_counts=True)
dict(zip(unique, counts))

{'2016-01-01 00:03:31': 1,
 '2016-01-01 00:05:54': 1,
 '2016-01-01 00:07:13': 1,
 '2016-01-01 00:07:25': 1,
 '2016-01-01 00:07:49': 1,
 '2016-01-01 00:08:37': 1,
 '2016-01-01 00:09:42': 1,
 '2016-01-01 00:09:54': 1,
 '2016-01-01 00:10:10': 1,
 '2016-01-01 00:10:46': 1,
 '2016-01-01 00:11:26': 1,
 '2016-01-01 00:12:37': 1,
 '2016-01-01 00:12:41': 1,
 '2016-01-01 00:12:42': 1,
 '2016-01-01 00:13:25': 1,
 '2016-01-01 00:13:27': 1,
 '2016-01-01 00:13:36': 1,
 '2016-01-01 00:13:50': 1,
 '2016-01-01 00:13:51': 1,
 '2016-01-01 00:14:26': 1,
 '2016-01-01 00:14:30': 1,
 '2016-01-01 00:15:08': 1,
 '2016-01-01 00:15:10': 1,
 '2016-01-01 00:15:14': 1,
 '2016-01-01 00:15:19': 1,
 '2016-01-01 00:15:35': 1,
 '2016-01-01 00:15:52': 1,
 '2016-01-01 00:16:03': 1,
 '2016-01-01 00:16:24': 1,
 '2016-01-01 00:16:25': 1,
 '2016-01-01 00:16:30': 1,
 '2016-01-01 00:16:40': 1,
 '2016-01-01 00:16:43': 1,
 '2016-01-01 00:16:55': 1,
 '2016-01-01 00:16:56': 1,
 '2016-01-01 00:17:04': 1,
 '2016-01-01 00:17:43': 1,
 '2016-01-01 00:17:50': 1,
 '2016-01-01 00:17:53': 1,
 '2016-01-01 00:18:07': 1,
 '2016-01-01 00:18:21': 1,
 '2016-01-01 00:18:47': 1,
 '2016-01-01 00:19:09': 1,
 '2016-01-01 00:19:12': 1,
 '2016-01-01 00:19:14': 1,
 '2016-01-01 00:19:25': 1,
 '2016-01-01 00:19:31': 1,
 '2016-01-01 00:19:32': 1,
 '2016-01-01 00:19:40': 1,
 '2016-01-01 00:19:51': 1,
 '2016-01-01 00:19:54': 1,
 '2016-01-01 00:19:57': 1,
 '2016-01-01 00:20:00': 1,
 '2016-01-01 00:20:09': 1,
 '2016-01-01 00:20:40': 1,
 '2016-01-01 00:21:12': 1,
 '2016-01-01 00:21:17': 1,
 '2016-01-01 00:21:22': 1,
 '2016-01-01 00:21:41': 1,
 '2016-01-01 00:21:49': 1,
 '2016-01-01 00:21:51': 1,
 '2016-01-01 00:21:53': 1,
 '2016-01-01 00:21:55': 1,
 '2016-01-01 00:22:14': 1,
 '2016-01-01 00:22:27': 1,
 '2016-01-01 00:22:33': 1,
 '2016-01-01 00:22:39': 1,
 '2016-01-01 00:23:01': 1,
 '2016-01-01 00:23:25': 1,
 '2016-01-01 00:23:27': 1,
 '2016-01-01 00:23:29': 1,
 '2016-01-01 00:23:31': 1,
 '2016-01-01 00:23:36': 1,
 '2016-01-01 00:23:49': 1,
 '2016-01-01 00:23:56': 1,
 '2016-01-01 00:24:02': 1,
 '2016-01-01 00:24:09': 1,
 '2016-01-01 00:24:22': 2,
 '2016-01-01 00:24:34': 1,
 '2016-01-01 00:24:42': 1,
 '2016-01-01 00:24:50': 1,
 '2016-01-01 00:24:58': 3,
 '2016-01-01 00:25:03': 1,
 '2016-01-01 00:25:17': 2,
 '2016-01-01 00:25:21': 1,
 '2016-01-01 00:25:36': 1,
 '2016-01-01 00:25:38': 1,
 '2016-01-01 00:25:43': 1,
 '2016-01-01 00:25:46': 1,
 '2016-01-01 00:25:50': 1,
 '2016-01-01 00:26:00': 1,
 '2016-01-01 00:26:06': 1,
 '2016-01-01 00:26:10': 1,
 '2016-01-01 00:26:14': 1,
 '2016-01-01 00:26:35': 1,
 '2016-01-01 00:27:09': 1,
 '2016-01-01 00:27:15': 1,
 '2016-01-01 00:27:16': 1,
 '2016-01-01 00:27:32': 1,
 '2016-01-01 00:27:36': 1,
 '2016-01-01 00:27:38': 1,
 '2016-01-01 00:27:46': 1,
 '2016-01-01 00:27:47': 2,
 '2016-01-01 00:27:49': 1,
 '2016-01-01 00:27:56': 1,
 '2016-01-01 00:27:57': 1,
 '2016-01-01 00:28:19': 1,
 '2016-01-01 00:28:23': 1,
 '2016-01-01 00:28:27': 1,
 '2016-01-01 00:28:41': 1,
 '2016-01-01 00:29:09': 1,
 '2016-01-01 00:29:13': 1,
 '2016-01-01 00:29:15': 1,
 '2016-01-01 00:29:16': 1,
 '2016-01-01 00:29:34': 1,
 '2016-01-01 00:29:37': 1,
 '2016-01-01 00:29:39': 1,
 '2016-01-01 00:29:47': 1,
 '2016-01-01 00:29:55': 1,
 '2016-01-01 00:30:00': 1,
 '2016-01-01 00:30:17': 1,
 '2016-01-01 00:30:26': 1,
 '2016-01-01 00:30:43': 2,
 '2016-01-01 00:30:45': 1,
 '2016-01-01 00:30:54': 1,
 '2016-01-01 00:30:58': 1,
 '2016-01-01 00:31:01': 1,
 '2016-01-01 00:31:02': 1,
 '2016-01-01 00:31:08': 2,
 '2016-01-01 00:31:12': 1,
 '2016-01-01 00:31:13': 2,
 '2016-01-01 00:31:32': 1,
 '2016-01-01 00:31:36': 1,
 '2016-01-01 00:31:39': 1,
 '2016-01-01 00:32:39': 1,
 '2016-01-01 00:32:49': 1,
 '2016-01-01 00:32:50': 1,
 '2016-01-01 00:33:00': 1,
 '2016-01-01 00:33:04': 1,
 '2016-01-01 00:33:07': 1,
 '2016-01-01 00:33:10': 1,
 '2016-01-01 00:33:12': 1,
 '2016-01-01 00:33:15': 1,
 '2016-01-01 00:33:31': 2,
 '2016-01-01 00:33:49': 1,
 '2016-01-01 00:33:52': 1,
 '2016-01-01 00:33:57': 1,
 '2016-01-01 00:34:02': 1,
 '2016-01-01 00:34:13': 1,
 '2016-01-01 00:34:17': 1,
 '2016-01-01 00:34:18': 1,
 '2016-01-01 00:34:30': 1,
 '2016-01-01 00:34:37': 1,
 '2016-01-01 00:34:41': 2,
 '2016-01-01 00:34:42': 1,
 '2016-01-01 00:34:49': 1,
 '2016-01-01 00:34:53': 1,
 '2016-01-01 00:35:05': 1,
 '2016-01-01 00:35:08': 1,
 '2016-01-01 00:35:15': 1,
 '2016-01-01 00:35:21': 1,
 '2016-01-01 00:35:29': 1,
 '2016-01-01 00:35:30': 1,
 '2016-01-01 00:35:44': 1,
 '2016-01-01 00:35:45': 1,
 '2016-01-01 00:36:10': 1,
 '2016-01-01 00:36:16': 1,
 '2016-01-01 00:36:17': 2,
 '2016-01-01 00:36:38': 1,
 '2016-01-01 00:36:44': 1,
 '2016-01-01 00:36:50': 1,
 '2016-01-01 00:37:10': 1,
 '2016-01-01 00:37:16': 1,
 '2016-01-01 00:37:17': 2,
 '2016-01-01 00:37:24': 1,
 '2016-01-01 00:37:26': 1,
 '2016-01-01 00:37:41': 1,
 '2016-01-01 00:37:59': 1,
 '2016-01-01 00:38:03': 1,
 '2016-01-01 00:38:09': 1,
 '2016-01-01 00:38:11': 1,
 '2016-01-01 00:38:18': 1,
 '2016-01-01 00:38:20': 1,
 '2016-01-01 00:38:24': 1,
 '2016-01-01 00:38:26': 1,
 '2016-01-01 00:38:32': 1,
 '2016-01-01 00:38:40': 1,
 '2016-01-01 00:38:42': 1,
 '2016-01-01 00:38:47': 1,
 '2016-01-01 00:38:57': 1,
 '2016-01-01 00:39:01': 1,
 '2016-01-01 00:39:04': 1,
 '2016-01-01 00:39:05': 1,
 '2016-01-01 00:39:23': 1,
 '2016-01-01 00:39:27': 3,
 '2016-01-01 00:39:45': 1,
 '2016-01-01 00:39:50': 1,
 '2016-01-01 00:40:09': 1,
 '2016-01-01 00:40:15': 1,
 '2016-01-01 00:40:36': 1,
 '2016-01-01 00:40:55': 1,
 '2016-01-01 00:40:56': 2,
 '2016-01-01 00:41:00': 1,
 '2016-01-01 00:41:08': 1,
 '2016-01-01 00:41:20': 1,
 '2016-01-01 00:41:23': 1,
 '2016-01-01 00:41:25': 1,
 '2016-01-01 00:41:28': 1,
 '2016-01-01 00:41:30': 1,
 '2016-01-01 00:41:36': 1,
 '2016-01-01 00:41:46': 1,
 '2016-01-01 00:41:47': 1,
 '2016-01-01 00:41:48': 1,
 '2016-01-01 00:41:50': 1,
 '2016-01-01 00:41:54': 1,
 '2016-01-01 00:41:59': 1,
 '2016-01-01 00:42:05': 1,
 '2016-01-01 00:42:07': 1,
 '2016-01-01 00:42:08': 1,
 '2016-01-01 00:42:11': 2,
 '2016-01-01 00:42:25': 1,
 '2016-01-01 00:42:27': 2,
 '2016-01-01 00:42:29': 1,
 '2016-01-01 00:42:47': 1,
 '2016-01-01 00:42:54': 1,
 '2016-01-01 00:42:59': 1,
 '2016-01-01 00:43:02': 1,
 '2016-01-01 00:43:05': 1,
 '2016-01-01 00:43:09': 1,
 '2016-01-01 00:43:10': 1,
 '2016-01-01 00:43:22': 1,
 '2016-01-01 00:43:25': 1,
 '2016-01-01 00:43:37': 1,
 '2016-01-01 00:43:43': 1,
 '2016-01-01 00:43:49': 1,
 '2016-01-01 00:43:56': 1,
 '2016-01-01 00:43:58': 1,
 '2016-01-01 00:44:00': 1,
 '2016-01-01 00:44:03': 1,
 '2016-01-01 00:44:33': 1,
 '2016-01-01 00:44:40': 1,
 '2016-01-01 00:44:42': 1,
 '2016-01-01 00:44:53': 1,
 '2016-01-01 00:44:58': 1,
 '2016-01-01 00:45:17': 1,
 '2016-01-01 00:45:20': 2,
 '2016-01-01 00:45:25': 1,
 '2016-01-01 00:45:32': 1,
 '2016-01-01 00:45:35': 1,
 '2016-01-01 00:45:40': 1,
 '2016-01-01 00:45:43': 1,
 '2016-01-01 00:46:00': 2,
 '2016-01-01 00:46:08': 1,
 '2016-01-01 00:46:09': 1,
 '2016-01-01 00:46:12': 1,
 '2016-01-01 00:46:18': 1,
 '2016-01-01 00:46:21': 1,
 '2016-01-01 00:46:31': 1,
 '2016-01-01 00:46:39': 1,
 '2016-01-01 00:46:44': 1,
 '2016-01-01 00:46:48': 1,
 '2016-01-01 00:46:50': 1,
 '2016-01-01 00:46:57': 1,
 '2016-01-01 00:47:20': 1,
 '2016-01-01 00:47:22': 1,
 '2016-01-01 00:47:28': 1,
 '2016-01-01 00:47:31': 1,
 '2016-01-01 00:47:33': 1,
 '2016-01-01 00:47:41': 1,
 '2016-01-01 00:47:44': 1,
 '2016-01-01 00:47:48': 1,
 '2016-01-01 00:47:53': 1,
 '2016-01-01 00:47:55': 1,
 '2016-01-01 00:47:57': 1,
 '2016-01-01 00:47:59': 1,
 '2016-01-01 00:48:02': 1,
 '2016-01-01 00:48:19': 1,
 '2016-01-01 00:48:23': 1,
 '2016-01-01 00:48:34': 1,
 '2016-01-01 00:49:11': 1,
 '2016-01-01 00:49:14': 1,
 '2016-01-01 00:49:15': 1,
 '2016-01-01 00:49:17': 1,
 '2016-01-01 00:49:21': 1,
 '2016-01-01 00:49:25': 1,
 '2016-01-01 00:49:35': 1,
 '2016-01-01 00:49:46': 1,
 '2016-01-01 00:49:53': 1,
 '2016-01-01 00:49:57': 1,
 '2016-01-01 00:50:00': 1,
 '2016-01-01 00:50:02': 1,
 '2016-01-01 00:50:08': 1,
 '2016-01-01 00:50:13': 1,
 '2016-01-01 00:50:16': 1,
 '2016-01-01 00:50:24': 1,
 '2016-01-01 00:50:26': 1,
 '2016-01-01 00:50:51': 1,
 '2016-01-01 00:50:54': 1,
 '2016-01-01 00:50:57': 1,
 '2016-01-01 00:51:00': 1,
 '2016-01-01 00:51:07': 1,
 '2016-01-01 00:51:10': 1,
 '2016-01-01 00:51:14': 1,
 '2016-01-01 00:51:16': 1,
 '2016-01-01 00:51:26': 1,
 '2016-01-01 00:51:28': 1,
 '2016-01-01 00:51:48': 1,
 '2016-01-01 00:51:52': 1,
 '2016-01-01 00:51:59': 1,
 '2016-01-01 00:52:10': 2,
 '2016-01-01 00:52:17': 1,
 '2016-01-01 00:52:18': 2,
 '2016-01-01 00:52:20': 1,
 '2016-01-01 00:52:23': 1,
 '2016-01-01 00:52:26': 1,
 '2016-01-01 00:52:42': 1,
 '2016-01-01 00:52:48': 1,
 '2016-01-01 00:52:50': 1,
 '2016-01-01 00:52:59': 1,
 '2016-01-01 00:53:18': 1,
 '2016-01-01 00:53:20': 1,
 '2016-01-01 00:53:30': 2,
 '2016-01-01 00:54:06': 1,
 '2016-01-01 00:54:15': 1,
 '2016-01-01 00:54:21': 1,
 '2016-01-01 00:54:22': 1,
 '2016-01-01 00:54:29': 1,
 '2016-01-01 00:54:32': 1,
 '2016-01-01 00:54:41': 1,
 '2016-01-01 00:54:47': 1,
 '2016-01-01 00:54:49': 1,
 '2016-01-01 00:54:55': 1,
 '2016-01-01 00:54:57': 1,
 '2016-01-01 00:55:03': 2,
 '2016-01-01 00:55:07': 2,
 '2016-01-01 00:55:11': 1,
 '2016-01-01 00:55:27': 1,
 '2016-01-01 00:55:33': 1,
 '2016-01-01 00:55:46': 1,
 '2016-01-01 00:55:54': 1,
 '2016-01-01 00:55:59': 1,
 '2016-01-01 00:56:02': 1,
 '2016-01-01 00:56:13': 2,
 '2016-01-01 00:56:14': 1,
 '2016-01-01 00:56:15': 1,
 '2016-01-01 00:56:33': 1,
 '2016-01-01 00:56:50': 1,
 '2016-01-01 00:56:51': 1,
 '2016-01-01 00:57:02': 1,
 '2016-01-01 00:57:03': 1,
 '2016-01-01 00:57:04': 1,
 '2016-01-01 00:57:07': 1,
 '2016-01-01 00:57:10': 1,
 '2016-01-01 00:57:30': 1,
 '2016-01-01 00:57:38': 1,
 '2016-01-01 00:57:48': 1,
 '2016-01-01 00:58:04': 1,
 '2016-01-01 00:58:05': 1,
 '2016-01-01 00:58:11': 1,
 '2016-01-01 00:58:18': 1,
 '2016-01-01 00:58:19': 1,
 '2016-01-01 00:58:22': 1,
 '2016-01-01 00:58:32': 1,
 '2016-01-01 00:58:41': 1,
 '2016-01-01 00:58:49': 1,
 '2016-01-01 00:58:50': 1,
 '2016-01-01 00:58:51': 1,
 '2016-01-01 00:58:53': 1,
 '2016-01-01 00:58:54': 1,
 '2016-01-01 00:58:58': 3,
 '2016-01-01 00:59:01': 1,
 '2016-01-01 00:59:24': 1,
 '2016-01-01 00:59:28': 1,
 '2016-01-01 00:59:29': 1,
 '2016-01-01 00:59:30': 1,
 '2016-01-01 00:59:31': 1,
 '2016-01-01 00:59:37': 1,
 '2016-01-01 00:59:40': 1,
 '2016-01-01 00:59:46': 1,
 '2016-01-01 00:59:47': 1,
 '2016-01-01 00:59:49': 1,
 '2016-01-01 00:59:58': 1,
 '2016-01-01 01:00:06': 1,
 '2016-01-01 01:00:15': 1,
 '2016-01-01 01:00:21': 1,
 '2016-01-01 01:00:23': 1,
 '2016-01-01 01:00:24': 1,
 '2016-01-01 01:00:25': 1,
 '2016-01-01 01:00:26': 1,
 '2016-01-01 01:00:32': 1,
 '2016-01-01 01:00:35': 1,
 '2016-01-01 01:00:49': 1,
 '2016-01-01 01:01:03': 1,
 '2016-01-01 01:01:11': 1,
 '2016-01-01 01:01:15': 1,
 '2016-01-01 01:01:23': 1,
 '2016-01-01 01:01:26': 1,
 '2016-01-01 01:01:30': 1,
 '2016-01-01 01:01:33': 1,
 '2016-01-01 01:01:42': 1,
 '2016-01-01 01:01:48': 1,
 '2016-01-01 01:01:49': 1,
 '2016-01-01 01:01:52': 1,
 '2016-01-01 01:02:06': 2,
 '2016-01-01 01:02:22': 1,
 '2016-01-01 01:02:27': 1,
 '2016-01-01 01:02:32': 1,
 '2016-01-01 01:02:37': 1,
 '2016-01-01 01:02:38': 1,
 '2016-01-01 01:02:39': 1,
 '2016-01-01 01:02:46': 1,
 '2016-01-01 01:03:03': 1,
 '2016-01-01 01:03:06': 1,
 '2016-01-01 01:03:07': 1,
 '2016-01-01 01:03:11': 1,
 '2016-01-01 01:03:22': 1,
 '2016-01-01 01:03:28': 1,
 '2016-01-01 01:03:39': 1,
 '2016-01-01 01:03:46': 1,
 '2016-01-01 01:03:50': 1,
 '2016-01-01 01:03:55': 2,
 '2016-01-01 01:03:58': 1,
 '2016-01-01 01:04:01': 1,
 '2016-01-01 01:04:02': 1,
 '2016-01-01 01:04:03': 2,
 '2016-01-01 01:04:05': 1,
 '2016-01-01 01:04:27': 1,
 '2016-01-01 01:04:35': 1,
 '2016-01-01 01:04:36': 1,
 '2016-01-01 01:04:40': 1,
 '2016-01-01 01:04:46': 1,
 '2016-01-01 01:04:50': 1,
 '2016-01-01 01:04:51': 1,
 '2016-01-01 01:04:54': 1,
 '2016-01-01 01:05:00': 2,
 '2016-01-01 01:05:03': 1,
 '2016-01-01 01:05:10': 1,
 '2016-01-01 01:05:18': 1,
 '2016-01-01 01:05:26': 2,
 '2016-01-01 01:05:29': 1,
 '2016-01-01 01:05:37': 2,
 '2016-01-01 01:05:38': 1,
 '2016-01-01 01:05:55': 1,
 '2016-01-01 01:05:56': 1,
 '2016-01-01 01:05:58': 1,
 '2016-01-01 01:06:03': 1,
 '2016-01-01 01:06:10': 1,
 '2016-01-01 01:06:17': 1,
 '2016-01-01 01:06:18': 1,
 '2016-01-01 01:06:29': 1,
 '2016-01-01 01:06:36': 1,
 '2016-01-01 01:06:41': 1,
 '2016-01-01 01:06:44': 1,
 '2016-01-01 01:06:54': 1,
 '2016-01-01 01:07:10': 1,
 '2016-01-01 01:07:11': 1,
 '2016-01-01 01:07:19': 1,
 '2016-01-01 01:07:27': 1,
 '2016-01-01 01:07:28': 1,
 '2016-01-01 01:07:29': 1,
 '2016-01-01 01:07:33': 1,
 '2016-01-01 01:07:49': 1,
 '2016-01-01 01:08:07': 1,
 '2016-01-01 01:08:09': 1,
 '2016-01-01 01:08:12': 1,
 '2016-01-01 01:08:16': 1,
 '2016-01-01 01:08:28': 3,
 '2016-01-01 01:08:32': 1,
 '2016-01-01 01:09:01': 1,
 '2016-01-01 01:09:04': 1,
 '2016-01-01 01:09:08': 1,
 '2016-01-01 01:09:16': 1,
 '2016-01-01 01:09:17': 1,
 '2016-01-01 01:09:26': 1,
 '2016-01-01 01:09:33': 2,
 '2016-01-01 01:09:37': 1,
 '2016-01-01 01:09:41': 1,
 '2016-01-01 01:09:48': 1,
 '2016-01-01 01:09:54': 1,
 '2016-01-01 01:10:08': 1,
 '2016-01-01 01:10:11': 1,
 '2016-01-01 01:10:14': 1,
 '2016-01-01 01:10:16': 1,
 '2016-01-01 01:10:19': 1,
 '2016-01-01 01:10:26': 2,
 '2016-01-01 01:10:34': 1,
 '2016-01-01 01:10:38': 1,
 '2016-01-01 01:10:47': 1,
 '2016-01-01 01:11:00': 1,
 '2016-01-01 01:11:04': 2,
 '2016-01-01 01:11:14': 1,
 '2016-01-01 01:11:21': 1,
 '2016-01-01 01:11:22': 1,
 '2016-01-01 01:11:45': 1,
 '2016-01-01 01:11:48': 1,
 '2016-01-01 01:11:55': 1,
 '2016-01-01 01:11:58': 1,
 '2016-01-01 01:12:04': 1,
 '2016-01-01 01:12:08': 2,
 '2016-01-01 01:12:11': 2,
 '2016-01-01 01:12:18': 1,
 '2016-01-01 01:12:23': 2,
 '2016-01-01 01:12:39': 1,
 '2016-01-01 01:12:43': 1,
 '2016-01-01 01:12:46': 1,
 '2016-01-01 01:12:47': 1,
 '2016-01-01 01:12:54': 1,
 '2016-01-01 01:12:56': 1,
 '2016-01-01 01:13:06': 1,
 '2016-01-01 01:13:30': 1,
 '2016-01-01 01:13:31': 1,
 '2016-01-01 01:13:36': 1,
 '2016-01-01 01:13:47': 1,
 '2016-01-01 01:13:49': 1,
 '2016-01-01 01:13:51': 1,
 '2016-01-01 01:14:18': 2,
 '2016-01-01 01:14:33': 1,
 '2016-01-01 01:14:43': 1,
 '2016-01-01 01:14:47': 2,
 '2016-01-01 01:14:55': 1,
 '2016-01-01 01:15:03': 1,
 '2016-01-01 01:15:24': 2,
 '2016-01-01 01:15:26': 1,
 '2016-01-01 01:15:31': 2,
 '2016-01-01 01:15:40': 1,
 '2016-01-01 01:15:41': 1,
 '2016-01-01 01:16:03': 1,
 '2016-01-01 01:16:12': 1,
 '2016-01-01 01:16:14': 1,
 '2016-01-01 01:16:18': 1,
 '2016-01-01 01:16:21': 1,
 '2016-01-01 01:16:23': 1,
 '2016-01-01 01:16:33': 1,
 '2016-01-01 01:16:34': 1,
 '2016-01-01 01:16:38': 1,
 '2016-01-01 01:16:44': 1,
 '2016-01-01 01:16:45': 1,
 '2016-01-01 01:16:51': 1,
 '2016-01-01 01:16:54': 1,
 '2016-01-01 01:17:01': 1,
 '2016-01-01 01:17:04': 1,
 '2016-01-01 01:17:11': 2,
 '2016-01-01 01:17:14': 1,
 '2016-01-01 01:17:26': 1,
 '2016-01-01 01:17:28': 1,
 '2016-01-01 01:17:33': 1,
 '2016-01-01 01:17:57': 1,
 '2016-01-01 01:17:58': 1,
 '2016-01-01 01:18:03': 1,
 '2016-01-01 01:18:32': 1,
 '2016-01-01 01:18:39': 1,
 '2016-01-01 01:18:49': 1,
 '2016-01-01 01:18:50': 1,
 '2016-01-01 01:18:55': 1,
 '2016-01-01 01:18:58': 1,
 '2016-01-01 01:19:07': 1,
 '2016-01-01 01:19:26': 1,
 '2016-01-01 01:19:31': 1,
 '2016-01-01 01:19:37': 1,
 '2016-01-01 01:19:43': 1,
 '2016-01-01 01:19:44': 1,
 '2016-01-01 01:19:45': 1,
 '2016-01-01 01:19:59': 1,
 '2016-01-01 01:20:09': 1,
 '2016-01-01 01:20:23': 1,
 '2016-01-01 01:20:39': 1,
 '2016-01-01 01:20:42': 1,
 '2016-01-01 01:20:44': 1,
 '2016-01-01 01:20:50': 1,
 '2016-01-01 01:20:59': 1,
 '2016-01-01 01:21:04': 1,
 '2016-01-01 01:21:10': 1,
 '2016-01-01 01:21:13': 1,
 '2016-01-01 01:21:28': 1,
 '2016-01-01 01:21:43': 1,
 '2016-01-01 01:21:44': 1,
 '2016-01-01 01:21:55': 1,
 '2016-01-01 01:22:00': 1,
 '2016-01-01 01:22:15': 1,
 '2016-01-01 01:22:42': 1,
 '2016-01-01 01:22:48': 2,
 '2016-01-01 01:22:53': 1,
 '2016-01-01 01:22:58': 1,
 '2016-01-01 01:23:00': 1,
 '2016-01-01 01:23:33': 1,
 '2016-01-01 01:23:45': 1,
 '2016-01-01 01:23:58': 1,
 '2016-01-01 01:24:01': 1,
 '2016-01-01 01:24:06': 1,
 '2016-01-01 01:24:14': 1,
 '2016-01-01 01:24:15': 1,
 '2016-01-01 01:24:25': 1,
 '2016-01-01 01:24:38': 1,
 '2016-01-01 01:24:40': 1,
 '2016-01-01 01:24:47': 1,
 '2016-01-01 01:24:51': 1,
 '2016-01-01 01:24:56': 1,
 '2016-01-01 01:25:04': 1,
 '2016-01-01 01:25:07': 1,
 '2016-01-01 01:25:10': 1,
 '2016-01-01 01:25:13': 1,
 '2016-01-01 01:25:16': 1,
 '2016-01-01 01:25:21': 1,
 '2016-01-01 01:25:22': 1,
 '2016-01-01 01:25:29': 1,
 '2016-01-01 01:25:35': 1,
 '2016-01-01 01:25:40': 2,
 '2016-01-01 01:25:42': 1,
 '2016-01-01 01:25:45': 1,
 '2016-01-01 01:25:46': 1,
 '2016-01-01 01:25:48': 1,
 '2016-01-01 01:25:50': 1,
 '2016-01-01 01:25:54': 1,
 '2016-01-01 01:25:59': 1,
 '2016-01-01 01:26:01': 1,
 '2016-01-01 01:26:04': 1,
 '2016-01-01 01:26:08': 1,
 '2016-01-01 01:26:11': 1,
 '2016-01-01 01:26:17': 2,
 '2016-01-01 01:26:23': 1,
 '2016-01-01 01:26:28': 1,
 '2016-01-01 01:26:34': 1,
 '2016-01-01 01:26:39': 1,
 '2016-01-01 01:26:46': 1,
 '2016-01-01 01:26:58': 2,
 '2016-01-01 01:27:03': 1,
 '2016-01-01 01:27:22': 1,
 '2016-01-01 01:27:29': 1,
 '2016-01-01 01:27:34': 1,
 '2016-01-01 01:27:35': 1,
 '2016-01-01 01:27:39': 1,
 '2016-01-01 01:27:50': 1,
 '2016-01-01 01:28:06': 1,
 '2016-01-01 01:28:17': 1,
 '2016-01-01 01:28:26': 1,
 '2016-01-01 01:28:33': 1,
 '2016-01-01 01:28:34': 1,
 '2016-01-01 01:28:37': 1,
 '2016-01-01 01:28:44': 1,
 '2016-01-01 01:29:13': 1,
 '2016-01-01 01:29:14': 1,
 '2016-01-01 01:29:15': 1,
 '2016-01-01 01:29:21': 1,
 '2016-01-01 01:29:43': 1,
 '2016-01-01 01:29:45': 1,
 '2016-01-01 01:29:46': 1,
 '2016-01-01 01:29:50': 1,
 '2016-01-01 01:29:51': 1,
 '2016-01-01 01:29:57': 1,
 '2016-01-01 01:29:58': 1,
 '2016-01-01 01:29:59': 1,
 '2016-01-01 01:30:02': 2,
 '2016-01-01 01:30:06': 1,
 '2016-01-01 01:30:08': 1,
 '2016-01-01 01:30:09': 1,
 '2016-01-01 01:30:11': 1,
 '2016-01-01 01:30:30': 1,
 '2016-01-01 01:30:32': 1,
 '2016-01-01 01:30:46': 1,
 '2016-01-01 01:30:53': 1,
 '2016-01-01 01:30:56': 1,
 '2016-01-01 01:31:02': 1,
 '2016-01-01 01:31:06': 1,
 '2016-01-01 01:31:25': 1,
 '2016-01-01 01:31:45': 1,
 '2016-01-01 01:32:04': 1,
 '2016-01-01 01:32:23': 1,
 '2016-01-01 01:32:25': 1,
 '2016-01-01 01:32:33': 1,
 '2016-01-01 01:32:51': 1,
 '2016-01-01 01:33:13': 1,
 '2016-01-01 01:33:19': 1,
 '2016-01-01 01:33:27': 1,
 '2016-01-01 01:33:31': 1,
 '2016-01-01 01:33:32': 1,
 '2016-01-01 01:33:39': 1,
 '2016-01-01 01:33:58': 2,
 '2016-01-01 01:34:03': 1,
 '2016-01-01 01:34:05': 1,
 '2016-01-01 01:34:11': 1,
 '2016-01-01 01:34:21': 1,
 '2016-01-01 01:34:23': 1,
 '2016-01-01 01:34:30': 1,
 '2016-01-01 01:34:33': 1,
 '2016-01-01 01:34:46': 1,
 '2016-01-01 01:34:50': 1,
 '2016-01-01 01:34:55': 1,
 '2016-01-01 01:34:58': 1,
 '2016-01-01 01:34:59': 1,
 '2016-01-01 01:35:02': 1,
 '2016-01-01 01:35:10': 1,
 '2016-01-01 01:35:12': 1,
 '2016-01-01 01:35:35': 1,
 '2016-01-01 01:35:36': 1,
 '2016-01-01 01:35:57': 1,
 '2016-01-01 01:36:14': 1,
 '2016-01-01 01:36:15': 1,
 '2016-01-01 01:36:30': 1,
 '2016-01-01 01:36:58': 1,
 '2016-01-01 01:36:59': 1,
 '2016-01-01 01:37:19': 1,
 '2016-01-01 01:37:33': 1,
 '2016-01-01 01:37:44': 1,
 '2016-01-01 01:37:45': 1,
 '2016-01-01 01:37:48': 1,
 '2016-01-01 01:37:54': 1,
 '2016-01-01 01:37:57': 2,
 '2016-01-01 01:37:59': 1,
 '2016-01-01 01:38:02': 1,
 '2016-01-01 01:38:13': 1,
 '2016-01-01 01:38:17': 1,
 '2016-01-01 01:38:24': 1,
 '2016-01-01 01:38:28': 1,
 '2016-01-01 01:38:31': 1,
 '2016-01-01 01:38:41': 1,
 '2016-01-01 01:38:49': 1,
 '2016-01-01 01:38:56': 1,
 '2016-01-01 01:39:09': 1,
 '2016-01-01 01:39:18': 1,
 '2016-01-01 01:39:23': 1,
 '2016-01-01 01:39:27': 1,
 '2016-01-01 01:39:32': 1,
 '2016-01-01 01:39:36': 1,
 '2016-01-01 01:39:45': 1,
 '2016-01-01 01:40:09': 1,
 '2016-01-01 01:40:10': 1,
 '2016-01-01 01:40:19': 1,
 '2016-01-01 01:40:35': 1,
 '2016-01-01 01:40:42': 1,
 '2016-01-01 01:40:44': 2,
 '2016-01-01 01:40:48': 1,
 '2016-01-01 01:40:50': 1,
 '2016-01-01 01:40:56': 2,
 '2016-01-01 01:41:15': 1,
 '2016-01-01 01:41:19': 1,
 '2016-01-01 01:41:30': 1,
 '2016-01-01 01:41:49': 1,
 '2016-01-01 01:42:02': 1,
 '2016-01-01 01:42:10': 1,
 '2016-01-01 01:42:15': 1,

In [8]:
u, c = np.unique(counts, return_counts=True)
dict(zip(u, c))

{1: 1305168, 2: 72264, 3: 2834, 4: 109, 5: 2}

In [9]:
df_train['times'] = df_train.pickup_datetime.apply(str) + ' ' +  df_train.dropoff_datetime.apply(str)
_unique, _counts = np.unique(df_train.times, return_counts=True)
dict(zip(_unique, _counts))

{'2016-01-01 00:00:17 2016-01-01 00:14:26': 1,
 '2016-01-01 00:00:53 2016-01-01 00:22:27': 1,
 '2016-01-01 00:01:01 2016-01-01 00:07:49': 1,
 '2016-01-01 00:01:14 2016-01-01 00:05:54': 1,
 '2016-01-01 00:01:20 2016-01-01 00:13:36': 1,
 '2016-01-01 00:01:33 2016-01-01 00:13:25': 1,
 '2016-01-01 00:01:37 2016-01-01 00:03:31': 1,
 '2016-01-01 00:01:47 2016-01-01 00:21:51': 1,
 '2016-01-01 00:02:06 2016-01-01 00:23:56': 1,
 '2016-01-01 00:02:45 2016-01-01 00:10:10': 1,
 '2016-01-01 00:03:02 2016-01-01 00:07:25': 1,
 '2016-01-01 00:03:31 2016-01-01 00:26:35': 1,
 '2016-01-01 00:03:35 2016-01-01 00:16:25': 1,
 '2016-01-01 00:04:42 2016-01-01 00:22:33': 1,
 '2016-01-01 00:04:57 2016-01-01 00:08:37': 1,
 '2016-01-01 00:05:07 2016-01-01 00:09:54': 1,
 '2016-01-01 00:05:08 2016-01-01 00:23:01': 1,
 '2016-01-01 00:05:18 2016-01-01 00:27:16': 1,
 '2016-01-01 00:05:35 2016-01-01 00:17:43': 1,
 '2016-01-01 00:05:39 2016-01-01 00:13:27': 1,
 '2016-01-01 00:06:04 2016-01-01 00:15:52': 1,
 '2016-01-01 00:06:12 2016-01-01 00:07:13': 1,
 '2016-01-01 00:06:22 2016-01-01 00:33:00': 1,
 '2016-01-01 00:06:24 2016-01-01 00:31:36': 1,
 '2016-01-01 00:06:47 2016-01-01 00:16:55': 1,
 '2016-01-01 00:06:56 2016-01-01 00:25:36': 1,
 '2016-01-01 00:06:59 2016-01-01 00:11:26': 1,
 '2016-01-01 00:07:04 2016-01-01 00:14:30': 1,
 '2016-01-01 00:07:06 2016-01-01 00:29:55': 1,
 '2016-01-01 00:07:07 2016-01-01 00:17:04': 1,
 '2016-01-01 00:07:22 2016-01-01 00:18:21': 1,
 '2016-01-01 00:07:27 2016-01-01 00:13:50': 1,
 '2016-01-01 00:07:29 2016-01-01 00:16:03': 1,
 '2016-01-01 00:07:34 2016-01-01 00:19:12': 1,
 '2016-01-01 00:07:46 2016-01-01 00:33:15': 1,
 '2016-01-01 00:07:47 2016-01-01 00:17:50': 1,
 '2016-01-01 00:07:52 2016-01-01 00:23:36': 1,
 '2016-01-01 00:08:07 2016-01-01 00:22:14': 1,
 '2016-01-01 00:08:09 2016-01-01 00:30:00': 1,
 '2016-01-01 00:08:11 2016-01-01 00:25:03': 1,
 '2016-01-01 00:08:15 2016-01-01 00:09:42': 1,
 '2016-01-01 00:08:29 2016-01-01 00:19:54': 1,
 '2016-01-01 00:08:37 2016-01-01 00:12:41': 1,
 '2016-01-01 00:08:38 2016-01-01 00:15:10': 1,
 '2016-01-01 00:08:40 2016-01-01 00:15:35': 1,
 '2016-01-01 00:08:46 2016-01-01 00:19:09': 1,
 '2016-01-01 00:08:47 2016-01-01 00:12:37': 1,
 '2016-01-01 00:08:49 2016-01-01 00:19:31': 1,
 '2016-01-01 00:08:52 2016-01-01 00:12:42': 1,
 '2016-01-01 00:08:53 2016-01-01 00:15:19': 1,
 '2016-01-01 00:09:01 2016-01-01 00:16:24': 1,
 '2016-01-01 00:09:01 2016-01-01 00:19:32': 1,
 '2016-01-01 00:09:03 2016-01-01 00:19:25': 1,
 '2016-01-01 00:09:09 2016-01-01 00:21:17': 1,
 '2016-01-01 00:09:15 2016-01-01 00:25:50': 1,
 '2016-01-01 00:09:16 2016-01-01 00:39:45': 1,
 '2016-01-01 00:09:25 2016-01-01 00:22:39': 1,
 '2016-01-01 00:09:36 2016-01-01 00:10:46': 1,
 '2016-01-01 00:09:36 2016-01-01 00:21:55': 1,
 '2016-01-01 00:09:55 2016-01-01 01:09:37': 1,
 '2016-01-01 00:10:25 2016-01-01 00:16:30': 1,
 '2016-01-01 00:10:25 2016-01-01 00:18:47': 1,
 '2016-01-01 00:10:26 2016-01-01 00:13:51': 1,
 '2016-01-01 00:10:47 2016-01-01 00:19:14': 1,
 '2016-01-01 00:10:53 2016-01-01 00:16:56': 1,
 '2016-01-01 00:11:06 2016-01-01 00:20:00': 1,
 '2016-01-01 00:11:17 2016-01-01 00:15:08': 1,
 '2016-01-01 00:11:22 2016-01-01 00:27:47': 1,
 '2016-01-01 00:11:33 2016-01-01 00:31:39': 1,
 '2016-01-01 00:11:36 2016-01-01 00:29:09': 1,
 '2016-01-01 00:11:41 2016-01-01 00:15:14': 1,
 '2016-01-01 00:11:46 2016-01-01 00:19:40': 1,
 '2016-01-01 00:11:48 2016-01-01 00:16:40': 1,
 '2016-01-01 00:11:49 2016-01-01 00:27:46': 1,
 '2016-01-01 00:11:56 2016-01-01 00:20:40': 1,
 '2016-01-01 00:12:00 2016-01-01 00:20:09': 1,
 '2016-01-01 00:12:03 2016-01-01 00:19:57': 1,
 '2016-01-01 00:12:12 2016-01-01 00:24:34': 1,
 '2016-01-01 00:12:14 2016-01-01 00:40:56': 1,
 '2016-01-01 00:12:15 2016-01-01 00:36:17': 1,
 '2016-01-01 00:12:42 2016-01-01 00:17:53': 1,
 '2016-01-01 00:12:51 2016-01-01 00:23:49': 1,
 '2016-01-01 00:12:53 2016-01-01 00:33:04': 1,
 '2016-01-01 00:13:15 2016-01-01 00:21:12': 1,
 '2016-01-01 00:13:19 2016-01-01 00:23:31': 1,
 '2016-01-01 00:13:21 2016-01-01 00:21:53': 1,
 '2016-01-01 00:13:22 2016-01-01 00:38:42': 1,
 '2016-01-01 00:13:23 2016-01-01 00:23:27': 1,
 '2016-01-01 00:13:28 2016-01-01 00:33:52': 1,
 '2016-01-01 00:13:37 2016-01-01 00:34:17': 1,
 '2016-01-01 00:13:38 2016-01-01 00:23:25': 1,
 '2016-01-01 00:13:42 2016-01-01 00:30:45': 1,
 '2016-01-01 00:13:59 2016-01-01 00:24:50': 1,
 '2016-01-01 00:14:09 2016-01-01 00:42:07': 1,
 '2016-01-01 00:14:13 2016-01-01 00:42:11': 1,
 '2016-01-01 00:14:24 2016-01-01 00:38:09': 1,
 '2016-01-01 00:14:32 2016-01-01 00:27:32': 1,
 '2016-01-01 00:14:46 2016-01-01 00:29:15': 1,
 '2016-01-01 00:14:50 2016-01-01 00:21:49': 1,
 '2016-01-01 00:14:51 2016-01-01 00:19:51': 1,
 '2016-01-01 00:15:03 2016-01-01 00:28:27': 1,
 '2016-01-01 00:15:06 2016-01-01 00:26:10': 1,
 '2016-01-01 00:15:06 2016-01-01 00:30:26': 1,
 '2016-01-01 00:15:12 2016-01-01 00:16:43': 1,
 '2016-01-01 00:15:23 2016-01-01 00:18:07': 1,
 '2016-01-01 00:15:32 2016-01-01 00:42:05': 1,
 '2016-01-01 00:15:35 2016-01-01 00:27:38': 1,
 '2016-01-01 00:15:45 2016-01-01 00:27:36': 1,
 '2016-01-01 00:15:47 2016-01-01 00:24:02': 1,
 '2016-01-01 00:16:09 2016-01-01 00:36:17': 1,
 '2016-01-01 00:16:13 2016-01-01 00:29:34': 1,
 '2016-01-01 00:16:20 2016-01-01 00:35:29': 1,
 '2016-01-01 00:16:33 2016-01-01 00:35:08': 1,
 '2016-01-01 00:16:45 2016-01-01 00:46:57': 1,
 '2016-01-01 00:17:00 2016-01-01 00:24:58': 1,
 '2016-01-01 00:17:04 2016-01-01 00:25:17': 1,
 '2016-01-01 00:17:04 2016-01-01 00:27:47': 1,
 '2016-01-01 00:17:13 2016-01-01 00:38:11': 1,
 '2016-01-01 00:17:15 2016-01-01 00:38:57': 1,
 '2016-01-01 00:17:22 2016-01-01 00:35:45': 1,
 '2016-01-01 00:17:44 2016-01-01 00:24:42': 1,
 '2016-01-01 00:17:45 2016-01-01 00:30:17': 1,
 '2016-01-01 00:17:50 2016-01-01 00:24:22': 1,
 '2016-01-01 00:17:55 2016-01-01 00:43:05': 1,
 '2016-01-01 00:18:07 2016-01-01 00:34:02': 1,
 '2016-01-01 00:18:08 2016-01-01 00:43:49': 1,
 '2016-01-01 00:18:18 2016-01-01 00:41:54': 1,
 '2016-01-01 00:18:22 2016-01-01 00:25:46': 1,
 '2016-01-01 00:18:31 2016-01-01 00:37:10': 1,
 '2016-01-01 00:18:36 2016-01-01 00:27:15': 1,
 '2016-01-01 00:18:37 2016-01-01 00:25:17': 1,
 '2016-01-01 00:19:01 2016-01-01 00:34:13': 1,
 '2016-01-01 00:19:05 2016-01-01 00:23:29': 1,
 '2016-01-01 00:19:08 2016-01-01 00:29:47': 1,
 '2016-01-01 00:19:18 2016-01-01 00:30:43': 1,
 '2016-01-01 00:19:18 2016-01-01 00:34:41': 1,
 '2016-01-01 00:19:23 2016-01-01 00:26:06': 1,
 '2016-01-01 00:19:26 2016-01-01 00:29:39': 1,
 '2016-01-01 00:19:28 2016-01-01 00:37:59': 1,
 '2016-01-01 00:19:31 2016-01-01 00:37:16': 1,
 '2016-01-01 00:19:35 2016-01-01 00:24:22': 1,
 '2016-01-01 00:19:37 2016-01-01 00:43:10': 1,
 '2016-01-01 00:19:57 2016-01-01 00:31:12': 1,
 '2016-01-01 00:19:58 2016-01-01 00:21:22': 1,
 '2016-01-01 00:20:08 2016-01-01 00:29:16': 1,
 '2016-01-01 00:20:12 2016-01-01 00:27:57': 1,
 '2016-01-01 00:20:15 2016-01-01 00:28:19': 1,
 '2016-01-01 00:20:28 2016-01-01 00:24:09': 1,
 '2016-01-01 00:20:29 2016-01-01 00:21:41': 1,
 '2016-01-01 00:20:34 2016-01-01 00:32:39': 1,
 '2016-01-01 00:20:36 2016-01-01 00:27:56': 1,
 '2016-01-01 00:20:41 2016-01-01 00:38:40': 1,
 '2016-01-01 00:20:49 2016-01-01 00:28:41': 1,
 '2016-01-01 00:20:54 2016-01-01 00:36:16': 1,
 '2016-01-01 00:20:59 2016-01-01 00:25:43': 1,
 '2016-01-01 00:21:13 2016-01-01 00:35:44': 1,
 '2016-01-01 00:21:15 2016-01-01 00:33:57': 1,
 '2016-01-01 00:21:19 2016-01-01 00:27:49': 1,
 '2016-01-01 00:21:27 2016-01-01 00:34:37': 1,
 '2016-01-01 00:21:30 2016-01-01 00:41:36': 1,
 '2016-01-01 00:21:31 2016-01-01 00:24:58': 1,
 '2016-01-01 00:21:41 2016-01-01 00:25:21': 1,
 '2016-01-01 00:21:55 2016-01-01 00:26:00': 1,
 '2016-01-01 00:21:57 2016-01-01 00:54:06': 1,
 '2016-01-01 00:22:09 2016-01-01 00:41:25': 1,
 '2016-01-01 00:22:16 2016-01-01 00:49:53': 1,
 '2016-01-01 00:22:17 2016-01-01 00:25:38': 1,
 '2016-01-01 00:22:19 2016-01-01 00:27:09': 1,
 '2016-01-01 00:22:32 2016-01-01 00:32:49': 1,
 '2016-01-01 00:22:37 2016-01-01 00:24:58': 1,
 '2016-01-01 00:22:37 2016-01-01 01:05:56': 1,
 '2016-01-01 00:22:39 2016-01-01 00:45:35': 1,
 '2016-01-01 00:22:52 2016-01-01 00:38:03': 1,
 '2016-01-01 00:22:55 2016-01-01 00:34:42': 1,
 '2016-01-01 00:22:55 2016-01-01 00:35:15': 1,
 '2016-01-01 00:22:56 2016-01-01 00:34:53': 1,
 '2016-01-01 00:23:00 2016-01-01 00:38:32': 1,
 '2016-01-01 00:23:01 2016-01-01 00:52:18': 1,
 '2016-01-01 00:23:08 2016-01-01 00:41:08': 1,
 '2016-01-01 00:23:10 2016-01-01 00:41:48': 1,
 '2016-01-01 00:23:32 2016-01-01 00:37:17': 1,
 '2016-01-01 00:23:33 2016-01-01 00:41:23': 1,
 '2016-01-01 00:23:34 2016-01-01 00:30:54': 1,
 '2016-01-01 00:23:43 2016-01-01 00:43:22': 1,
 '2016-01-01 00:23:48 2016-01-01 00:34:49': 1,
 '2016-01-01 00:23:49 2016-01-01 00:44:33': 1,
 '2016-01-01 00:23:51 2016-01-01 00:29:37': 1,
 '2016-01-01 00:23:51 2016-01-01 01:12:11': 1,
 '2016-01-01 00:24:01 2016-01-01 00:44:00': 1,
 '2016-01-01 00:24:07 2016-01-01 00:41:50': 1,
 '2016-01-01 00:24:22 2016-01-01 00:31:08': 1,
 '2016-01-01 00:24:23 2016-01-01 00:30:43': 1,
 '2016-01-01 00:24:24 2016-01-01 00:49:21': 1,
 '2016-01-01 00:24:40 2016-01-01 00:33:12': 1,
 '2016-01-01 00:24:47 2016-01-01 00:46:31': 1,
 '2016-01-01 00:24:54 2016-01-01 00:47:55': 1,
 '2016-01-01 00:24:57 2016-01-01 00:34:41': 1,
 '2016-01-01 00:24:59 2016-01-01 00:33:31': 1,
 '2016-01-01 00:25:16 2016-01-01 00:30:58': 1,
 '2016-01-01 00:25:26 2016-01-01 00:31:13': 1,
 '2016-01-01 00:25:30 2016-01-01 00:26:14': 1,
 '2016-01-01 00:25:34 2016-01-01 00:37:24': 1,
 '2016-01-01 00:25:36 2016-01-01 00:41:20': 1,
 '2016-01-01 00:25:41 2016-01-01 00:28:23': 1,
 '2016-01-01 00:25:42 2016-01-01 00:40:55': 1,
 '2016-01-01 00:25:45 2016-01-01 00:35:21': 1,
 '2016-01-01 00:25:54 2016-01-01 00:36:44': 1,
 '2016-01-01 00:25:54 2016-01-01 00:42:27': 1,
 '2016-01-01 00:26:01 2016-01-01 00:35:05': 1,
 '2016-01-01 00:26:09 2016-01-01 00:31:08': 1,
 '2016-01-01 00:26:10 2016-01-01 00:33:31': 1,
 '2016-01-01 00:26:12 2016-01-01 00:46:00': 1,
 '2016-01-01 00:26:18 2016-01-01 00:29:13': 1,
 '2016-01-01 00:26:30 2016-01-01 01:09:54': 1,
 '2016-01-01 00:26:40 2016-01-01 00:41:46': 1,
 '2016-01-01 00:26:45 2016-01-01 00:34:18': 1,
 '2016-01-01 00:26:47 2016-01-01 00:31:01': 1,
 '2016-01-01 00:26:52 2016-01-01 00:57:04': 1,
 '2016-01-01 00:27:06 2016-01-01 00:37:26': 1,
 '2016-01-01 00:27:08 2016-01-01 00:36:38': 1,
 '2016-01-01 00:27:09 2016-01-01 00:39:23': 1,
 '2016-01-01 00:27:25 2016-01-01 00:45:20': 1,
 '2016-01-01 00:27:35 2016-01-01 00:55:33': 1,
 '2016-01-01 00:27:49 2016-01-01 00:39:27': 1,
 '2016-01-01 00:27:57 2016-01-01 00:39:01': 1,
 '2016-01-01 00:28:07 2016-01-02 00:25:45': 1,
 '2016-01-01 00:28:08 2016-01-01 00:32:50': 1,
 '2016-01-01 00:28:09 2016-01-01 00:52:18': 1,
 '2016-01-01 00:28:15 2016-01-01 00:41:28': 1,
 '2016-01-01 00:28:26 2016-01-01 00:33:07': 1,
 '2016-01-01 00:28:41 2016-01-01 00:39:27': 1,
 '2016-01-01 00:28:46 2016-01-01 00:42:08': 1,
 '2016-01-01 00:28:49 2016-01-01 00:33:49': 1,
 '2016-01-01 00:28:58 2016-01-01 01:01:30': 1,
 '2016-01-01 00:28:59 2016-01-01 00:31:02': 1,
 '2016-01-01 00:29:18 2016-01-01 00:31:13': 1,
 '2016-01-01 00:29:21 2016-01-01 00:47:41': 1,
 '2016-01-01 00:29:31 2016-01-01 00:47:20': 1,
 '2016-01-01 00:29:35 2016-01-01 00:33:10': 1,
 '2016-01-01 00:29:43 2016-01-01 00:54:41': 1,
 '2016-01-01 00:29:45 2016-01-01 00:39:04': 1,
 '2016-01-01 00:30:04 2016-01-01 00:53:20': 1,
 '2016-01-01 00:30:05 2016-01-01 00:37:17': 1,
 '2016-01-01 00:30:07 2016-01-01 00:38:20': 1,
 '2016-01-01 00:30:16 2016-01-01 00:38:47': 1,
 '2016-01-01 00:30:17 2016-01-01 00:58:11': 1,
 '2016-01-01 00:30:18 2016-01-01 00:39:05': 1,
 '2016-01-01 00:30:26 2016-01-01 00:51:07': 1,
 '2016-01-01 00:30:26 2016-01-01 00:52:59': 1,
 '2016-01-01 00:30:32 2016-01-01 00:46:48': 1,
 '2016-01-01 00:30:34 2016-01-01 00:35:30': 1,
 '2016-01-01 00:30:46 2016-01-01 00:31:32': 1,
 '2016-01-01 00:30:54 2016-01-01 00:50:54': 1,
 '2016-01-01 00:31:06 2016-01-01 00:46:21': 1,
 '2016-01-01 00:31:07 2016-01-01 00:40:56': 1,
 '2016-01-01 00:31:11 2016-01-01 00:37:41': 1,
 '2016-01-01 00:31:37 2016-01-01 00:38:26': 1,
 '2016-01-01 00:31:37 2016-01-01 01:12:04': 1,
 '2016-01-01 00:31:48 2016-01-01 01:04:50': 1,
 '2016-01-01 00:31:49 2016-01-01 00:42:27': 1,
 '2016-01-01 00:31:54 2016-01-01 00:42:29': 1,
 '2016-01-01 00:31:55 2016-01-01 00:50:51': 1,
 '2016-01-01 00:31:57 2016-01-01 00:39:27': 1,
 '2016-01-01 00:32:19 2016-01-01 00:40:15': 1,
 '2016-01-01 00:32:23 2016-01-01 00:46:08': 1,
 '2016-01-01 00:32:26 2016-01-01 00:46:09': 1,
 '2016-01-01 00:32:26 2016-01-01 01:02:27': 1,
 '2016-01-01 00:32:29 2016-01-01 00:43:37': 1,
 '2016-01-01 00:32:32 2016-01-01 00:40:09': 1,
 '2016-01-01 00:32:47 2016-01-01 00:47:28': 1,
 '2016-01-01 00:33:02 2016-01-01 00:46:39': 1,
 '2016-01-01 00:33:03 2016-01-01 00:34:30': 1,
 '2016-01-01 00:33:04 2016-01-01 00:36:10': 1,
 '2016-01-01 00:33:17 2016-01-01 00:43:56': 1,
 '2016-01-01 00:33:23 2016-01-01 01:07:19': 1,
 '2016-01-01 00:33:29 2016-01-01 00:55:46': 1,
 '2016-01-01 00:33:39 2016-01-01 00:38:18': 1,
 '2016-01-01 00:33:49 2016-01-01 00:56:13': 1,
 '2016-01-01 00:33:52 2016-01-01 00:50:24': 1,
 '2016-01-01 00:33:55 2016-01-01 00:43:09': 1,
 '2016-01-01 00:34:04 2016-01-01 00:44:40': 1,
 '2016-01-01 00:34:10 2016-01-01 01:01:52': 1,
 '2016-01-01 00:34:24 2016-01-01 01:04:46': 1,
 '2016-01-01 00:34:28 2016-01-01 00:43:25': 1,
 '2016-01-01 00:34:33 2016-01-01 00:50:57': 1,
 '2016-01-01 00:34:34 2016-01-01 01:07:49': 1,
 '2016-01-01 00:34:39 2016-01-01 00:51:48': 1,
 '2016-01-01 00:34:43 2016-01-01 01:02:37': 1,
 '2016-01-01 00:34:49 2016-01-01 00:44:42': 1,
 '2016-01-01 00:34:49 2016-01-01 00:50:26': 1,
 '2016-01-01 00:35:00 2016-01-01 00:40:36': 1,
 '2016-01-01 00:35:04 2016-01-01 00:47:22': 1,
 '2016-01-01 00:35:08 2016-01-01 00:43:43': 1,
 '2016-01-01 00:35:20 2016-01-01 00:42:25': 1,
 '2016-01-01 00:35:32 2016-01-01 00:50:02': 1,
 '2016-01-01 00:35:40 2016-01-01 00:36:50': 1,
 '2016-01-01 00:35:46 2016-01-01 00:51:16': 1,
 '2016-01-01 00:35:46 2016-01-01 00:55:54': 1,
 '2016-01-01 00:35:48 2016-01-01 00:47:48': 1,
 '2016-01-01 00:35:51 2016-01-01 00:39:50': 1,
 '2016-01-01 00:35:52 2016-01-01 00:52:42': 1,
 '2016-01-01 00:35:53 2016-01-01 00:38:24': 1,
 '2016-01-01 00:35:57 2016-01-01 00:49:11': 1,
 '2016-01-01 00:36:00 2016-01-01 00:41:30': 1,
 '2016-01-01 00:36:13 2016-01-01 00:54:32': 1,
 '2016-01-01 00:36:13 2016-01-01 01:05:37': 1,
 '2016-01-01 00:36:25 2016-01-01 00:42:54': 1,
 '2016-01-01 00:36:27 2016-01-01 00:41:47': 1,
 '2016-01-01 00:36:38 2016-01-01 00:41:59': 1,
 '2016-01-01 00:36:41 2016-01-01 01:01:15': 1,
 '2016-01-01 00:36:51 2016-01-01 01:00:32': 1,
 '2016-01-01 00:37:03 2016-01-01 00:41:00': 1,
 '2016-01-01 00:37:13 2016-01-01 00:49:35': 1,
 '2016-01-01 00:37:32 2016-01-01 00:47:33': 1,
 '2016-01-01 00:37:32 2016-01-01 00:58:58': 1,
 '2016-01-01 00:37:38 2016-01-01 00:51:52': 1,
 '2016-01-01 00:37:39 2016-01-01 00:51:28': 1,
 '2016-01-01 00:37:55 2016-01-01 00:42:11': 1,
 '2016-01-01 00:37:58 2016-01-01 00:52:17': 1,
 '2016-01-01 00:38:05 2016-01-01 00:51:59': 1,
 '2016-01-01 00:38:10 2016-01-01 00:43:02': 1,
 '2016-01-01 00:38:13 2016-01-01 00:50:13': 1,
 '2016-01-01 00:38:13 2016-01-01 01:01:49': 1,
 '2016-01-01 00:38:17 2016-01-01 00:54:57': 1,
 '2016-01-01 00:38:21 2016-01-01 00:44:03': 1,
 '2016-01-01 00:38:23 2016-01-01 00:58:19': 1,
 '2016-01-01 00:38:32 2016-01-01 00:45:32': 1,
 '2016-01-01 00:38:39 2016-01-01 00:42:59': 1,
 '2016-01-01 00:38:49 2016-01-01 00:59:29': 1,
 '2016-01-01 00:39:00 2016-01-01 00:46:44': 1,
 '2016-01-01 00:39:08 2016-01-01 01:02:38': 1,
 '2016-01-01 00:39:11 2016-01-01 01:05:10': 1,
 '2016-01-01 00:39:15 2016-01-01 00:57:07': 1,
 '2016-01-01 00:39:20 2016-01-01 00:45:40': 1,
 '2016-01-01 00:39:27 2016-01-01 00:56:15': 1,
 '2016-01-01 00:39:35 2016-01-01 00:47:59': 1,
 '2016-01-01 00:39:44 2016-01-01 01:03:11': 1,
 '2016-01-01 00:39:46 2016-01-01 00:48:34': 1,
 '2016-01-01 00:39:47 2016-01-01 00:43:58': 1,
 '2016-01-01 00:39:50 2016-01-01 00:45:43': 1,
 '2016-01-01 00:39:54 2016-01-01 00:59:46': 1,
 '2016-01-01 00:39:59 2016-01-01 00:51:14': 1,
 '2016-01-01 00:40:01 2016-01-01 00:52:48': 1,
 '2016-01-01 00:40:12 2016-01-01 00:50:16': 1,
 '2016-01-01 00:40:19 2016-01-01 00:47:53': 1,
 '2016-01-01 00:40:25 2016-01-01 01:06:29': 1,
 '2016-01-01 00:40:31 2016-01-01 00:50:00': 1,
 '2016-01-01 00:40:31 2016-01-01 00:54:21': 1,
 '2016-01-01 00:40:33 2016-01-01 01:03:22': 1,
 '2016-01-01 00:40:40 2016-01-01 00:45:17': 1,
 '2016-01-01 00:40:52 2016-01-01 00:46:18': 1,
 '2016-01-01 00:40:52 2016-01-01 00:59:37': 1,
 '2016-01-01 00:41:09 2016-01-01 00:59:47': 1,
 '2016-01-01 00:41:11 2016-01-01 00:59:01': 1,
 '2016-01-01 00:41:14 2016-01-01 00:44:58': 1,
 '2016-01-01 00:41:17 2016-01-01 00:45:25': 1,
 '2016-01-01 00:41:19 2016-01-01 01:22:42': 1,
 '2016-01-01 00:41:24 2016-01-01 01:03:55': 1,
 '2016-01-01 00:41:25 2016-01-01 00:49:57': 1,
 '2016-01-01 00:41:28 2016-01-01 00:52:50': 1,
 '2016-01-01 00:41:37 2016-01-01 00:45:20': 1,
 '2016-01-01 00:41:50 2016-01-01 00:48:19': 1,
 '2016-01-01 00:41:51 2016-01-01 00:46:12': 1,
 '2016-01-01 00:41:51 2016-01-01 00:59:28': 1,
 '2016-01-01 00:41:55 2016-01-01 01:04:02': 1,
 '2016-01-01 00:42:07 2016-01-01 00:46:00': 1,
 '2016-01-01 00:42:07 2016-01-01 00:52:20': 1,
 '2016-01-01 00:42:09 2016-01-01 00:57:48': 1,
 '2016-01-01 00:42:13 2016-01-01 01:03:07': 1,
 '2016-01-01 00:42:21 2016-01-01 00:51:26': 1,
 '2016-01-01 00:42:23 2016-01-01 00:44:53': 1,
 '2016-01-01 00:42:23 2016-01-01 01:01:23': 1,
 '2016-01-01 00:42:25 2016-01-01 00:42:47': 1,
 '2016-01-01 00:42:26 2016-01-01 00:57:02': 1,
 '2016-01-01 00:42:27 2016-01-01 00:58:51': 1,
 '2016-01-01 00:42:34 2016-01-01 00:47:57': 1,
 '2016-01-01 00:42:37 2016-01-01 00:46:50': 1,
 '2016-01-01 00:42:37 2016-01-01 00:55:03': 1,
 '2016-01-01 00:42:58 2016-01-01 00:59:49': 1,
 '2016-01-01 00:43:06 2016-01-01 00:55:11': 1,
 '2016-01-01 00:43:23 2016-01-01 00:47:44': 1,
 '2016-01-01 00:43:23 2016-01-01 00:51:00': 1,
 '2016-01-01 00:43:23 2016-01-01 00:54:55': 1,
 '2016-01-01 00:43:43 2016-01-01 01:00:26': 1,
 '2016-01-01 00:43:49 2016-01-01 00:58:32': 1,
 '2016-01-01 00:43:50 2016-01-01 01:02:06': 1,
 '2016-01-01 00:43:50 2016-01-01 01:07:27': 1,
 '2016-01-01 00:43:51 2016-01-01 00:49:17': 1,
 '2016-01-01 00:43:54 2016-01-01 01:00:24': 1,
 '2016-01-01 00:44:02 2016-01-01 00:49:15': 1,
 '2016-01-01 00:44:06 2016-01-01 00:49:46': 1,
 '2016-01-01 00:44:10 2016-01-01 00:54:47': 1,
 '2016-01-01 00:44:17 2016-01-01 01:16:23': 1,
 '2016-01-01 00:44:32 2016-01-01 00:51:10': 1,
 '2016-01-01 00:44:37 2016-01-01 01:04:03': 1,
 '2016-01-01 00:44:42 2016-01-01 00:52:10': 1,
 '2016-01-01 00:44:46 2016-01-01 00:56:50': 1,
 '2016-01-01 00:44:48 2016-01-01 00:53:30': 1,
 '2016-01-01 00:44:55 2016-01-01 00:49:14': 1,
 '2016-01-01 00:44:56 2016-01-01 00:58:53': 1,
 '2016-01-01 00:45:20 2016-01-01 00:54:22': 1,
 '2016-01-01 00:45:27 2016-01-01 00:58:04': 1,
 '2016-01-01 00:45:31 2016-01-01 00:54:15': 1,
 '2016-01-01 00:45:42 2016-01-01 00:55:07': 1,
 '2016-01-01 00:45:49 2016-01-01 00:55:03': 1,
 '2016-01-01 00:45:52 2016-01-01 00:47:31': 1,
 '2016-01-01 00:45:56 2016-01-01 00:56:51': 1,
 '2016-01-01 00:45:57 2016-01-01 01:00:21': 1,
 '2016-01-01 00:46:17 2016-01-01 01:08:32': 1,
 '2016-01-01 00:46:25 2016-01-01 01:01:03': 1,
 '2016-01-01 00:46:26 2016-01-01 01:11:22': 1,
 '2016-01-01 00:46:28 2016-01-01 00:55:27': 1,
 '2016-01-01 00:46:31 2016-01-01 00:55:59': 1,
 '2016-01-01 00:46:32 2016-01-01 00:56:02': 1,
 '2016-01-01 00:46:34 2016-01-01 01:05:00': 1,
 '2016-01-01 00:46:37 2016-01-01 00:50:08': 1,
 '2016-01-01 00:46:37 2016-01-01 01:06:36': 1,
 '2016-01-01 00:46:37 2016-01-01 01:13:06': 1,
 '2016-01-01 00:46:40 2016-01-01 00:57:30': 1,
 '2016-01-01 00:46:48 2016-01-01 00:48:02': 1,
 '2016-01-01 00:46:48 2016-01-01 00:56:13': 1,
 '2016-01-01 00:47:12 2016-01-01 00:48:23': 1,
 '2016-01-01 00:47:17 2016-01-01 01:00:06': 1,
 '2016-01-01 00:47:19 2016-01-01 00:49:25': 1,
 '2016-01-01 00:47:30 2016-01-01 01:12:56': 1,

In [10]:
_u, _c = np.unique(_counts, return_counts=True)
dict(zip(_u, _c))

{1: 1458530, 2: 57}

In [11]:
empty_courses = df_train[df_train['passenger_count'] == 0]
empty_courses

,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration,times
id,,,,,,,,,,,
id3917283,2,2016-06-06 16:39:09,2016-06-07 16:30:50,0,-73.776367,40.645248,-73.776360,40.645260,N,85901,2016-06-06 16:39:09 2016-06-07 16:30:50
id3645383,2,2016-01-01 05:01:32,2016-01-01 05:01:36,0,-73.993134,40.757473,-73.993294,40.757538,N,4,2016-01-01 05:01:32 2016-01-01 05:01:36
id2840829,2,2016-02-21 01:33:52,2016-02-21 01:36:27,0,-73.946243,40.772903,-73.946770,40.774841,N,155,2016-02-21 01:33:52 2016-02-21 01:36:27
id3762593,1,2016-01-04 12:24:17,2016-01-04 13:01:48,0,-73.815224,40.700081,-73.950699,40.755222,N,2251,2016-01-04 12:24:17 2016-01-04 13:01:48
id2154895,1,2016-05-23 23:37:37,2016-05-23 23:37:45,0,-73.861633,40.705029,-73.861633,40.705029,N,8,2016-05-23 23:37:37 2016-05-23 23:37:45
id0796773,1,2016-02-07 17:23:48,2016-02-07 17:23:57,0,-73.954941,40.687866,-73.954742,40.687862,N,9,2016-02-07 17:23:48 2016-02-07 17:23:57
id2091096,2,2016-01-01 23:52:46,2016-01-02 00:27:18,0,-73.993652,40.757046,-73.918869,40.757793,N,2072,2016-01-01 23:52:46 2016-01-02 00:27:18
id0414625,2,2016-01-05 18:52:20,2016-01-05 18:52:35,0,-73.985291,40.738335,-73.985352,40.738361,N,15,2016-01-05 18:52:20 2016-01-05 18:52:35
id0271506,2,2016-05-22 00:23:15,2016-05-22 00:23:56,0,-73.956718,40.777142,-73.956764,40.776958,N,41,2016-05-22 00:23:15 2016-05-22 00:23:56
id3176865,2,2016-05-31 05:10:23,2016-05-31 05:10:38,0,-73.982468,40.727974,-73.982468,40.728001,N,15,2016-05-31 05:10:23 2016-05-31 05:10:38
id3493269,2,2016-01-14 19:09:41,2016-01-14 19:09:48,0,-73.904709,40.758099,-73.904716,40.758148,N,7,2016-01-14 19:09:41 2016-01-14 19:09:48
id2247129,2,2016-01-13 11:50:12,2016-01-13 12:16:08,0,-73.965027,40.775269,-73.973450,40.840618,N,1556,2016-01-13 11:50:12 2016-01-13 12:16:08
id1794493,2,2016-03-20 01:25:42,2016-03-20 01:26:04,0,-73.995094,40.760296,-73.995064,40.760284,N,22,2016-03-20 01:25:42 2016-03-20 01:26:04
id2891366,1,2016-02-18 21:26:15,2016-02-18 21:28:00,0,-73.983543,40.716404,-73.983543,40.716404,N,105,2016-02-18 21:26:15 2016-02-18 21:28:00
id1253169,1,2016-02-28 01:08:48,2016-02-28 01:09:01,0,-74.035942,40.736488,-74.035942,40.736492,N,13,2016-02-28 01:08:48 2016-02-28 01:09:01
id2571672,1,2016-03-06 05:24:55,2016-03-06 05:25:00,0,-73.979698,40.761196,-73.979698,40.761196,Y,5,2016-03-06 05:24:55 2016-03-06 05:25:00
id1822284,1,2016-04-10 20:20:43,2016-04-10 20:20:47,0,-73.991020,40.733791,-73.991066,40.733501,N,4,2016-04-10 20:20:43 2016-04-10 20:20:47
id0663459,2,2016-06-11 01:24:47,2016-06-11 01:25:36,0,-73.996506,40.644638,-73.996521,40.644650,N,49,2016-06-11 01:24:47 2016-06-11 01:25:36
id1039576,1,2016-05-13 12:08:39,2016-05-13 12:08:45,0,-73.801979,40.664188,-73.801888,40.665359,N,6,2016-05-13 12:08:39 2016-05-13 12:08:45
id3347660,2,2016-05-29 01:26:30,2016-05-29 01:26:49,0,-73.932732,40.856438,-73.932762,40.856438,N,19,2016-05-29 01:26:30 2016-05-29 01:26:49
id0878599,1,2016-01-25 08:46:58,2016-01-25 09:41:01,0,-73.928078,40.736412,-73.985519,40.758972,N,3243,2016-01-25 08:46:58 2016-01-25 09:41:01
id1610720,2,2016-03-13 14:08:20,2016-03-13 14:08:28,0,-73.922081,40.636040,-73.922081,40.636040,N,8,2016-03-13 14:08:20 2016-03-13 14:08:28
id1593144,1,2016-01-08 21:55:27,2016-01-08 22:01:52,0,-73.980957,40.742142,-73.986122,40.729488,N,385,2016-01-08 21:55:27 2016-01-08 22:01:52
id1857858,2,2016-01-09 01:53:24,2016-01-09 01:53:26,0,-73.956123,40.668156,-73.956085,40.668110,N,2,2016-01-09 01:53:24 2016-01-09 01:53:26
id3066152,1,2016-02-01 00:27:13,2016-02-01 00:27:58,0,-74.014488,40.708229,-74.014488,40.708229,N,45,2016-02-01 00:27:13 2016-02-01 00:27:58
id3364866,1,2016-02-13 14:04:20,2016-02-13 14:21:29,0,-73.990479,40.742004,-73.989243,40.763680,N,1029,2016-02-13 14:04:20 2016-02-13 14:21:29
id3494250,1,2016-04-02 02:32:10,2016-04-02 02:50:51,0,-74.005089,40.729038,-74.032486,40.619579,N,1121,2016-04-02 02:32:10 2016-04-02 02:50:51
id2029944,1,2016-03-11 09:38:54,2016-03-11 09:38:57,0,-73.790398,40.655457,-73.790398,40.655457,N,3,2016-03-11 09:38:54 2016-03-11 09:38:57
id3533680,1,2016-01-10 04:17:21,2016-01-10 04:17:24,0,-73.993195,40.598701,-73.993195,40.598701,N,3,2016-01-10 04:17:21 2016-01-10 04:17:24
id3563937,1,2016-02-13 16:52:38,2016-02-13 16:57:48,0,-73.962097,40.776146,-73.958160,40.767014,N,310,2016-02-13 16:52:38 2016-02-13 16:57:48
id0959777,2,2016-03-01 19:11:26,2016-03-01 19:11:30,0,-74.003777,40.738186,-74.003807,40.738174,N,4,2016-03-01 19:11:26 2016-03-01 19:11:30
id1656232,1,2016-04-21 06:04:56,2016-04-21 06:05:18,0,-73.978149,40.750183,-73.978104,40.750477,N,22,2016-04-21 06:04:56 2016-04-21 06:05:18
id1880173,1,2016-02-17 21:17:45,2016-02-17 21:27:46,0,-73.976921,40.755753,-73.994186,40.746025,N,601,2016-02-17 21:17:45 2016-02-17 21:27:46
id1325601,2,2016-05-05 02:00:31,2016-05-05 02:00:45,0,-73.995796,40.720516,-73.995667,40.720551,N,14,2016-05-05 02:00:31 2016-05-05 02:00:45
id3251852,1,2016-02-01 01:26:36,2016-02-01 01:27:03,0,-73.988678,40.721344,-73.988670,40.721344,N,27,2016-02-01 01:26:36 2016-02-01 01:27:03
id2613392,2,2016-03-31 22:25:35,2016-03-31 22:25:42,0,-74.010307,40.718697,-74.010330,40.718651,N,7,2016-03-31 22:25:35 2016-03-31 22:25:42
id1376024,1,2016-04-01 16:10:32,2016-04-01 16:11:01,0,-73.951973,40.733479,-73.951996,40.733471,N,29,2016-04-01 16:10:32 2016-04-01 16:11:01
id2063256,1,2016-03-25 17:45:27,2016-03-25 17:46:55,0,-73.994804,40.720661,-73.995125,40.720715,N,88,2016-03-25 17:45:27 2016-03-25 17:46:55
id1992999,2,2016-01-18 23:15:34,2016-01-18 23:15:37,0,-73.987083,40.757889,-73.988220,40.759033,N,3,2016-01-18 23:15:34 2016-01-18 23:15:37
id1846091,2,2016-01-16 00:50:18,2016-01-16 00:51:36,0,-73.919167,40.686878,-73.919151,40.686874,N,78,2016-01-16 00:50:18 2016-01-16 00:51:36
id2957383,1,2016-05-20 03:22:01,2016-05-20 03:23:09,0,-74.005341,40.871922,-74.006096,40.872318,Y,68,2016-05-20 03:22:01 2016-05-20 03:23:09
id2535067,1,2016-06-13 05:59:07,2016-06-13 05:59:16,0,-73.947174,40.826153,-73.947220,40.826084,Y,9,2016-06-13 05:59:07 2016-06-13 05:59:16
id0593652,2,2016-06-08 19:34:25,2016-06-08 19:34:55,0,-73.964203,40.773273,-73.964218,40.773182,N,30,2016-06-08 19:34:25 2016-06-08 19:34:55
id1688347,2,2016-05-19 19:55:58,2016-05-19 19:56:23,0,-73.972145,40.747833,-73.972130,40.747982,N,25,2016-05-19 19:55:58 2016-05-19 19:56:23
id1220914,2,2016-01-17 20:51:55,2016-01-17 20:52:43,0,-73.959999,40.766861,-73.960106,40.766911,N,48,2016-01-17 20:51:55 2016-01-17 20:52:43
id0662963,2,2016-02-13 04:41:13,2016-02-13 04:41:22,0,-73.945633,40.803673,-73.945625,40.803661,N,9,2016-02-13 04:41:13 2016-02-13 04:41:22
id1205792,1,2016-03-11 12:33:17,2016-03-11 13:09:48,0,-73.982063,40.763798,-74.188072,40.694042,N,2191,2016-03-11 12:33:17 2016-03-11 13:09:48
id1038365,1,2016-04-02 22:03:27,2016-04-02 22:03:36,0,-73.954437,40.765739,-73.954445,40.765759,N,9,2016-04-02 22:03:27 2016-04-02 22:03:36
id0483580,2,2016-01-16 20:37:35,2016-01-16 20:37:38,0,-73.968964,40.801743,-73.968903,40.801853,N,3,2016-01-16 20:37:35 2016-01-16 20:37:38
id1392994,1,2016-04-07 23:37:19,2016-04-07 23:37:21,0,-74.042969,40.719540,-74.042961,40.719536,N,2,2016-04-07 23:37:19 2016-04-07 23:37:21
id3267095,2,2016-02-13 01:33:02,2016-02-13 01:33:06,0,-73.979118,40.760181,-73.979111,40.760159,N,4,2016-02-13 01:33:02 2016-02-13 01:33:06
id1119951,2,2016-03-24 21:50:50,2016-03-24 21:50:57,0,-73.958786,40.780354,-73.958740,40.780338,N,7,2016-03-24 21:50:50 2016-03-24 21:50:57
id0948644,2,2016-02-22 00:40:25,2016-02-22 00:40:26,0,-73.987595,40.719997,-73.987595,40.720005,N,1,2016-02-22 00:40:25 2016-02-22 00:40:26
id1699275,1,2016-04-04 19:44:41,2016-04-04 19:50:16,0,-73.981979,40.752281,-73.992676,40.737278,N,335,2016-04-04 19:44:41 2016-04-04 19:50:16
id3368191,1,2016-05-08 23:38:09,2016-05-08 23:38:21,0,-73.934937,40.740841,-73.934929,40.740837,N,12,2016-05-08 23:38:09 2016-05-08 23:38:21
id3378693,1,2016-05-15 15:31:07,2016-05-15 15:31:13,0,-73.783173,40.643848,-73.783173,40.643848,N,6,2016-05-15 15:31:07 2016-05-15 15:31:13
id2684721,2,2016-04-01 14:42:10,2016-04-01 14:42:58,0,-73.981316,40.746635,-73.981651,40.746811,N,48,2016-04-01 14:42:10 2016-04-01 14:42:58
id3485118,1,2016-05-11 19:15:57,2016-05-11 19:32:18,0,-73.987572,40.754566,-73.972031,40.762836,N,981,2016-05-11 19:15:57 2016-05-11 19:32:18
id0355830,1,2016-03-05 05:33:52,2016-03-05 05:34:27,0,-73.991791,40.731197,-73.993408,40.729328,N,35,2016-03-05 05:33:52 2016-03-05 05:34:27
id1175754,2,2016-05-14 00:25:33,2016-05-14 00:25:37,0,-73.904610,40.753483,-73.904602,40.753456,N,4,2016-05-14 00:25:33 2016-05-14 00:25:37

## Feature Engineering

In [12]:
from math import sin, cos, sqrt, atan2, radians

# function taken on stackoverflow
def calculate_distance(longitude1, latitude1, longitude2, latitude2):
    # approximate radius of earth in km
    R = 6373.0

    lat1 = radians(latitude1)
    lon1 = radians(longitude1)
    lat2 = radians(latitude2)
    lon2 = radians(longitude2)

    dlon = lon2 - lon1
    dlat = lat2 - lat1

    a = sin(dlat / 2)**2 + cos(lat1) * cos(lat2) * sin(dlon / 2)**2
    c = 2 * atan2(sqrt(a), sqrt(1 - a))
    # return distance in km
    return R * c

def add_distance(df):
    return df.apply(lambda row: calculate_distance(
        row.pickup_longitude,
        row.pickup_latitude,
        row.dropoff_longitude,
        row.dropoff_latitude
    ), axis=1)

df_train['distance'] = add_distance(df_train)

df_test['distance'] = add_distance(df_test)

df_train['distance'].head()

id
id2875421    1.498991
id2377394    1.806074
id3858529    6.387103
id3504673    1.485965
id2181028    1.188962
Name: distance, dtype: float64

In [13]:
periods = {
    'morning': {
        'min': 6,
        'max': 12
    },
    'afternoon': {
        'min': 12,
        'max': 18
    },
    'evening': {
        'min': 18,
        'max': 24
    },
    'night': {
        'min': 0,
        'max': 6
    },
}
rush_hours = [
    (7, 9),
    (16, 18)
]

def get_time_period(hour):
    for p in periods:
        if hour >= periods[p]['min'] and hour < periods[p]['max']:
            return p

def is_during_rush(hour):
    for h in rush_hours:
        if hour >= h[0] and hour < h[1]:
            return True
        return False

In [14]:
from datetime import datetime

def extract_date_features(df, col):
    """ Extract features from a date. """
    df[col + '_year'] = df[col].dt.year
    df[col + '_month'] = df[col].dt.month
    df[col + '_week'] = df[col].dt.week
    df[col + '_day'] = df[col].dt.day
    df[col + '_dow'] = df[col].dt.dayofweek
    df[col + '_hour'] = df[col].dt.hour
    df[col + '_minute'] = df[col].dt.minute
    df[col + '_weekday'] = df[col].dt.weekday
    df[col + '_days_in_month'] = df[col].dt.days_in_month
    df[col + '_is_month_start'] = df[col].dt.is_month_start
    df[col + '_is_month_end'] = df[col].dt.is_month_end
    df[col + '_period'] = df[col].dt.hour.apply(get_time_period)
    df['is_during_rush_hour'] = df[col].dt.hour.apply(is_during_rush)
    return df

df_train['pickup_datetime_dt'] = df_train.pickup_datetime.apply(lambda row: datetime.strptime(row, '%Y-%m-%d %H:%M:%S'))
# df_train['dropoff_datetime_dt'] = df_train.dropoff_datetime.apply(lambda row: datetime.strptime(row, '%Y-%m-%d %H:%M:%S'))
df_test['pickup_datetime_dt'] = df_test.pickup_datetime.apply(lambda row: datetime.strptime(row, '%Y-%m-%d %H:%M:%S'))
df_train = extract_date_features(df_train, 'pickup_datetime_dt')
df_test = extract_date_features(df_test, 'pickup_datetime_dt')

In [15]:
df_meteo = pd.read_csv('./weather_nyc_2016.csv')
df_meteo.head()

,Time,Temp.,Windchill,Heat Index,Humidity,Pressure,Dew Point,Visibility,Wind Dir,Wind Speed,Gust Speed,Precip,Events,Conditions
0,2015-12-31 02:00:00,7.8,7.1,NaN,0.89,1017.0,6.1,8.0,NNE,5.6,0.0,0.8,None,Overcast
1,2015-12-31 03:00:00,7.2,5.9,NaN,0.90,1016.5,5.6,12.9,Variable,7.4,0.0,0.3,None,Overcast
2,2015-12-31 04:00:00,7.2,NaN,NaN,0.90,1016.7,5.6,12.9,Calm,0.0,0.0,0.0,None,Overcast
3,2015-12-31 05:00:00,7.2,5.9,NaN,0.86,1015.9,5.0,14.5,NW,7.4,0.0,0.0,None,Overcast
4,2015-12-31 06:00:00,7.2,6.4,NaN,0.90,1016.2,5.6,11.3,West,5.6,0.0,0.0,None,Overcast

In [16]:
meteo_filtered = df_meteo.loc[:, ['Time','Temp.','Conditions']]
df_meteo['date'] = df_meteo['Time'].apply(lambda row: datetime.strptime(row, '%Y-%m-%d %H:%M:%S'))
meteo_filtered['year'] = df_meteo['date'].dt.year
meteo_filtered['pickup_datetime_dt_month'] = df_meteo['date'].dt.month
meteo_filtered['pickup_datetime_dt_day'] = df_meteo['date'].dt.day
meteo_filtered['pickup_datetime_dt_hour'] = df_meteo['date'].dt.hour
meteo_filtered = meteo_filtered[meteo_filtered['year'] == 2016]

meteo_filtered.head()

,Time,Temp.,Conditions,year,pickup_datetime_dt_month,pickup_datetime_dt_day,pickup_datetime_dt_hour
22,2016-01-01 00:00:00,5.6,Overcast,2016,1,1,0
23,2016-01-01 01:00:00,5.6,Overcast,2016,1,1,1
24,2016-01-01 02:00:00,5.6,Overcast,2016,1,1,2
25,2016-01-01 03:00:00,5.0,Overcast,2016,1,1,3
26,2016-01-01 04:00:00,5.0,Overcast,2016,1,1,4

In [73]:
train = pd.merge(df_train, meteo_filtered[['Temp.', 'Conditions','pickup_datetime_dt_month', 'pickup_datetime_dt_day', 'pickup_datetime_dt_hour']], on=['pickup_datetime_dt_month', 'pickup_datetime_dt_day', 'pickup_datetime_dt_hour'], how='left')
test = pd.merge(df_test, meteo_filtered[['Temp.', 'Conditions','pickup_datetime_dt_month', 'pickup_datetime_dt_day', 'pickup_datetime_dt_hour']], on=['pickup_datetime_dt_month', 'pickup_datetime_dt_day', 'pickup_datetime_dt_hour'], how='left')

In [28]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1458644 entries, 0 to 1458643
Data columns (total 28 columns):
vendor_id                            1458644 non-null int64
pickup_datetime                      1458644 non-null object
dropoff_datetime                     1458644 non-null object
passenger_count                      1458644 non-null int64
pickup_longitude                     1458644 non-null float64
pickup_latitude                      1458644 non-null float64
dropoff_longitude                    1458644 non-null float64
dropoff_latitude                     1458644 non-null float64
store_and_fwd_flag                   1458644 non-null object
trip_duration                        1458644 non-null int64
times                                1458644 non-null object
distance                             1458644 non-null float64
pickup_datetime_dt                   1458644 non-null datetime64[ns]
pickup_datetime_dt_year              1458644 non-null int64
pickup_datetime_dt_month             1458644 non-null int64
pickup_datetime_dt_week              1458644 non-null int64
pickup_datetime_dt_day               1458644 non-null int64
pickup_datetime_dt_dow               1458644 non-null int64
pickup_datetime_dt_hour              1458644 non-null int64
pickup_datetime_dt_minute            1458644 non-null int64
pickup_datetime_dt_weekday           1458644 non-null int64
pickup_datetime_dt_days_in_month     1458644 non-null int64
pickup_datetime_dt_is_month_start    1458644 non-null bool
pickup_datetime_dt_is_month_end      1458644 non-null bool
pickup_datetime_dt_period            1458644 non-null category
is_during_rush_hour                  1458644 non-null bool
Temp.                                1446612 non-null float64
Conditions                           1446612 non-null category
dtypes: bool(3), category(2), datetime64[ns](1), float64(6), int64(12), object(4)
memory usage: 274.0+ MB

In [74]:
train.pickup_datetime_dt_period = train.pickup_datetime_dt_period.astype('category')
train.Conditions = train.Conditions.astype('category')
test.pickup_datetime_dt_period = test.pickup_datetime_dt_period.astype('category')
test.Conditions = test.Conditions.astype('category')

## Modelisation

In [76]:
from sklearn.ensemble import RandomForestRegressor

rf = RandomForestRegressor(n_estimators=10)

COLUMNS = [
    'pickup_datetime_dt_month',
    'pickup_datetime_dt_day',
    'pickup_datetime_dt_dow',
    'pickup_datetime_dt_hour',
    'is_during_rush_hour',
    'distance'
]

X_train = train[COLUMNS]
y_train = train.trip_duration
X_test = test[COLUMNS]

# rf.fit(X_train, y_train)

In [69]:
from sklearn.model_selection import train_test_split

X_temp_train, X_temp_test, y_temp_train, y_temp_test = train_test_split(X_train, y_train, test_size=0.90, random_state=42)
len(X_temp_train)

145864

In [86]:
from sklearn.model_selection import cross_val_score
rf_cv = RandomForestRegressor(n_estimators=10)
cv_losses = -cross_val_score(rf_cv, X_train, y_train, cv=5, n_jobs=-1, scoring='neg_mean_squared_log_error')

In [72]:
cv_losses

array([0.3892349 , 0.34091227, 0.38588841, 0.35961862, 0.38543679])

In [71]:
np.mean(cv_losses), np.std(cv_losses)

(0.3722181982836487, 0.018920806967009558)

In [84]:
rf.fit(X_train, y_train)
y_test = rf.predict(X_test)

In [85]:
np.mean(y_test)

976.9286926193126